@charset "UTF-8";

@font-face {
  font-family: "druidicon";
  src:url("fonts/druidicon.eot");
  src:url("fonts/druidicon.eot?#iefix") format("embedded-opentype"),
    url("fonts/druidicon.woff") format("woff"),
    url("fonts/druidicon.ttf") format("truetype"),
    url("fonts/druidicon.svg#druidicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "druidicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dd-"]:before,
[class*=" dd-"]:before {
  font-family: "druidicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dd-check-square:before {
  content: "\61";
}
.dd-pin:before {
  content: "\62";
}
.dd-check-radio:before {
  content: "\63";
}
.dd-radio:before {
  content: "\64";
}
.dd-message:before {
  content: "\65";
}
.dd-devices:before {
  content: "\66";
}
.dd-portrait:before {
  content: "\67";
}
.dd-user:before {
  content: "\68";
}
.dd-close:before {
  content: "\69";
}
.dd-angle-down:before {
  content: "\6a";
}
.dd-pin-o:before {
  content: "\6b";
}
.dd-prompt-circle:before {
  content: "\6c";
}
.dd-device-circle:before {
  content: "\6d";
}
.dd-setting-circle:before {
  content: "\6e";
}
.dd-contact:before {
  content: "\6f";
}
.dd-date:before {
  content: "\70";
}
.dd-cloud-warning:before {
  content: "\72";
}
.dd-loading:before {
  content: "\73";
}
.dd-caret-down:before {
  content: "\74";
}
.dd-user-circle:before {
  content: "\75";
}
.dd-logo-druid:before {
  content: "\76";
}
.dd-logo-druid-full:before {
  content: "\77";
}
.dd-classify:before {
  content: "\78";
}
.dd-analysis:before {
  content: "\79";
}
.dd-setting:before {
  content: "\7a";
}
.dd-role:before {
  content: "\41";
}
.dd-phone:before {
  content: "\42";
}
.dd-email:before {
  content: "\43";
}
.dd-editor:before {
  content: "\44";
}
.dd-company:before {
  content: "\45";
}
.dd-caret-up-down:before {
  content: "\47";
}
.dd-cloud-success:before {
  content: "\48";
}
.dd-close-thin:before {
  content: "\49";
}
.dd-square:before {
  content: "\4a";
}
.dd-device:before {
  content: "\4c";
}
.dd-password:before {
  content: "\4e";
}
.dd-menu-array:before {
  content: "\4f";
}
.dd-square-thin:before {
  content: "\50";
}
.dd-search:before {
  content: "\51";
}
.dd-angle-up-down:before {
  content: "\52";
}
.dd-menu-list:before {
  content: "\53";
}
.dd-close-circle:before {
  content: "\54";
}
.dd-user-center:before {
  content: "\55";
}
.dd-logo-druid-name:before {
  content: "\46";
}
.dd-geofence:before {
  content: "\71";
}
.dd-mobile:before {
  content: "\4b";
}
.dd-email-hr:before {
  content: "\4d";
}
.dd-address:before {
  content: "\56";
}
.dd-qzone:before {
  content: "\57";
}
.dd-facebook:before {
  content: "\58";
}
.dd-evernote:before {
  content: "\59";
}
.dd-douban:before {
  content: "\5a";
}
.dd-twitter:before {
  content: "\30";
}
.dd-tumblr:before {
  content: "\31";
}
