<div class="modal anly" id="myModal">
    <form name="chooseDeviceForm">
        <div class="modal-content">
            <div class="close" ng-click="$hide()"><i class="dd dd-close-thin"></i></div>
            <div class="modal-header ty2">
                <h5>{{"add_device" | chFilter}}
                    <small class="yellow" ng-if="anlyDeviceKey.length>1">{{"choose_only_one_device" | chFilter}}</small>
                    <input type="text" ng-model="searchDevice.mark" placeholder="{{'search_mark' | chFilter}}"/>
                </h5>
            </div>
            <div class="modal-body flex-box">
                <div class="plabel dev choosed scrollbar-macosx" data-jquery-scrollbar>
                    <h6 class="blue">&nbsp;{{anlyDevice.length || 0}}/{{allDeviceLength}} {{"chosen" | chFilter}}</h6>
                    <div class="list active" ng-repeat="dev in anlyDevice" ng-click="delDevice($index)">
                        <a>
                            <div class="title">{{dev.mark}}</div>
                            <div class="note">{{dev.uuid}}</div>
                        </a>
                    </div>
                </div>
                <div class="plabel unchoosed scrollbar-macosx" data-jquery-scrollbar>
                    <h6 class="light" ng-if="searchDevice">{{"search_result" | chFilter}}</h6>
                    <div class="list" ng-repeat="dev in allDevice | sameFilter: anlyDevice | filter: searchDevice" ng-click="addDevice(dev)">
                        <a>
                            <div class="title">{{dev.mark}}</div>
                            <div class="note">{{dev.uuid}}</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-del" ng-click="$hide()">{{"cancel" | chFilter}}</button>
                <button class="btn btn-line active" ng-click="save($event);$hide()">{{"confirm" | chFilter}}</button>
            </div>
        </div>
    </form>
</div>