<div class="modal pwd" id="sureModal">
    <div class="modal-content">
        <div class="close" ng-click="$hide()" aria-label="Close"><i class="dd dd-close-thin"></i></div>
        <div class="modal-body">
            <div class="text-center pic">
                <img ng-src="{{findPwdPic}}">
            </div>
            <div class="text-center">
                <p>{{"ask_druid_to_retrieve_password" | chFilter: 'tips'}}</p>
                <div class="grey small">
                    <p>{{"phone_fax" | chFilter}}：{{druid.phone}}</p>
                    <p>{{"email" | chFilter}}：{{druid.helpEmail}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer block">
            <button class="btn" ng-click="$hide()">{{"confirm" | chFilter}}</button>
        </div>
    </div>
</div>