<div class="modal" id="sureModal">
    <div class="modal-content">
        <div class="close" ng-click="$hide()" aria-label="Close"><i class="dd dd-close-thin"></i></div>
        <div class="modal-header" ng-if="sureTitle">
            <div ng-bind="sureTitle"></div>
        </div>
        <div class="modal-body">
            <img class="cont-image" ng-src="{{surePic}}" ng-if="surePic">
            <div class="text-center word-keep" ng-bind-html="sureText"></div>
        </div>
        <div class="modal-footer sure">
            <button class="btn" ng-click="cancel();$hide()">{{"cancel" | chFilter}}</button>
            <button class="btn active" ng-click="save();$hide()">{{"confirm" | chFilter}}</button>
        </div>
    </div>
</div>