<div class="modal" id="myModal">
    <form name="myPasswodForm" novalidate>
        <div class="modal-content small">
            <div class="close" ng-click="$hide()" aria-label="Close"><i class="dd dd-close-thin"></i></div>
            <div class="modal-header">
                <h5>{{"reset_password" | chFilter}}</h5>
            </div>
            <div class="modal-body">
                <div class="form">
                    <ul>
                        <li>
                            <h6>{{"custom_password" | chFilter}}<span class="danger">*</span></h6>
                            <input type="password" id="oldPassword" ng-model="myPassword" ng-blur="getUname()" required><label for="oldPassword"></label>
                        </li>
                        <li>
                            <h6>{{"new_password" | chFilter}}<span class="danger">*</span></h6>
                            <input type="password" id="newPassword" name="newPassword"
                                   ng-model="newPassword"
                                   ng-pattern="pattern.password"
                                   ng-minlength="{{userLimit.password[0]}}"
                                   ng-maxlength="{{userLimit.password[1]}}"
                                   ng-disabled="myPasswodForm.myPassword.$invalid" required><label for="newPassword"></label>
                        </li>
                        <li>
                            <h6>{{"confirm_password" | chFilter}}<span class="danger">*</span></h6>
                            <input type="password" id="RnewPassword" name="RnewPassword"
                                   ng-model="RnewPassword"
                                   ng-pattern="pattern.password"
                                   ng-minlength="{{userLimit.password[0]}}"
                                   ng-maxlength="{{userLimit.password[1]}}"
                                   ng-disabled="myPasswodForm.newPassword.$invalid" required><label for="RnewPassword"></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-block active" ng-click="save();$hide()">{{"confirm" | chFilter}}</button>
            </div>
        </div>
    </form>
</div>